<?php
function crystallmytea_markup ($q) {
    $q = str_replace ("\n",'<br/>',$q);
    $q = str_replace ('[','<em>[',$q);
    $q = str_replace (']','</em>]',$q);
    return $q;
}
?>
<h1 id="quote-of-the-session-close" onclick="this.parentElement.classList.add('fade-out')">&#215;</h1>
<div id="quote-of-the-session-content">
  <quote id="quote-of-the-session-quote"><?php echo crystallmytea_markup (htmlspecialchars($this->crystallmyteaQuote[crystallmytea_col_quotation])); ?></quote>
  <cite id="quote-of-the-session-citation"><?php echo htmlspecialchars ($this->crystallmyteaQuote[crystallmytea_col_author]); ?></cite>
  <time id="quote-of-the-session-year" datetime="<?php echo htmlspecialchars ($this->crystallmyteaQuote[crystallmytea_col_dated]); ?>"><span class="quote-of-the-session-circa"><?php if ($this->crystallmyteaQuote[crystallmytea_col_circa]): ?>c.<?php else: ?>&nbsp;<?php endif; ?></span><?php echo htmlspecialchars ($this->crystallmyteaQuote[crystallmytea_col_dated]); ?></time>
</div>
